.card_container {
  padding: 1rem;
  width: 15rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-height: 21rem;
  background-color: #2222;

  /* background-color: black;*/
}
.card_container h4 {
  color: #fff;
}
img {
  width: 100%;
}

.img_container img {
  width: 100%;

  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.status_container {
  margin: 0.5rem 0 0.7rem 0;
}
.pro_pic_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pro_pic_container img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}
