.card_container {
  /*  padding: 1rem;*/
  width: 21rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-height: 21rem;
  background-color: #2222;
  cursor: auto;
  max-height: 35rem;
  margin-bottom: 1rem;
  /* background-color: black;*/
}
.card_container h4 {
  color: #fff;
}
img {
  width: 100%;
}

.img_container img {
  width: 100%;
  display: inline-block;

  /*  border-radius: 12px;*/
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 0.3rem;
}
.status_container {
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0 0.7rem 0;
}

.status_container h4 {
  width: 80%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pro_pic_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
}
.pro_pic_container img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}
