.profile_container img {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.profile_container {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 1rem;
}
.editprofile_container {
  gap: 2rem;
  margin: 3% auto;
  width: 50%;
  color: #999;
}

.editprofile_container h4 {
  color: #fff;
  margin: 1.7rem 0;
}

.box_container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.image_input {
  background-image: red;
  padding: 1rem;
}
