.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.header_nav {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.profile_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}
.profile_img img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 7px solid #2222;
}

.profile_img:hover .profile_subnav {
  /*	margin-top: .rem;*/
  display: block;
  width: 12rem;
  position: absolute;
  top: 100%;
}

.profile_subnav {
  background-color: #222;
  padding: 2rem 0;
  display: none;
  transition: all 0.3s;
}

.profile_subnav p {
  padding: 0.6rem 1rem;
}

.profile_subnav p:hover {
  background-color: #333;
}

.profile_dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}
